<ion-view view-title="">
<ion-content class="post-ion-content">
<div class="save-card-details"><span class="save-img"><img src=""/></span>Save time and scan your credit/debit card</div>
<div class="card-details">
<h5 class="card-number">CARD DETAILS</h5>
<p>Enter your debit or credit card number</p>
</div>
<div class="card-details">
	<div class="list">
	   <div class="item list-top-border fr-pad row"><div class="col col-33 car-col-det">Card no.</div><div class="col col-66">4561 5747 3684 4675<span class="card-img"><img src=""/></span></div></div>
	   <div class="item fr-pad row"><div class="col col-33 car-col-det">Expiry</div><div class="col col-66">12/19</div></div>
	   <div class="item row fr-pad list-bottom-border"><div class="col col-33 car-col-det">CVC Code</div><div class="col col-66">180</div></div>
	</div>
</div>
<ion-checkbox ng-model="isChecked" class="brkrt-btn"><span class="brkrt-radio">Please tick here once you have done and agreed to our terms and conditions</span></ion-checkbox>
<div class="padding post-button next-button">
	<button class="button cnfm-button button-positive">Confirm</button>
</div>
</ion-content>
</ion-view>