<ion-view >
    <div class="search-form search-from-boder slide-search3" style="display: none">
        <div class="list list-inset search-from-boder">
            <label class="item item-input search-from-boder">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Search">
            </label>
        </div>

        <div class="list list-inset search-from-boder">
            <label class="item item-input search-from-boder">
                <i class="icon ion-ios-location placeholder-icon"></i>
                <input type="text" placeholder="Place" style="border-right: 1px solid gainsboro;">
                    <span class="search-from4"><select >
                        <option>30 Miles</option>
                        <option selected>20 Miles</option>
                        <option>10 Miles</option>
                    </select></span>
            </label>

        </div>
        <div class="search-from6">
        </div>
        <div class="search-from1 search-from-boder">
            <label class="search-lable ">Price Range</label>
            <select class="search-from-boder">
                <option>Newest</option>
                <option selected>Oldest</option>
            </select>
        </div>
        <div class="search-from1 search-from-boder">
            <label class="search-lable " >Sort by</label>
            <div class="row search-from2" style="padding: 0px;">
                <div class="col" style="padding: 0px;">
                    <input type="text" placeholder="Min">
                </div>
                <div class="col" style="padding: 0px;">
                    <input type="text" placeholder="Max">
                </div>
            </div>
        </div>

        <div class="padding search-button">
            <button class="button button-block search-1-button button-positive" ui-sref="details">Search</button>
        </div>
    </div>
    <div class="search-backdrop" style="display: none"></div>
   <ion-content class="search-ion-content">
       <div class="search-by category">
            <div class="search-all">
                <div class="search-img">
                    <img src="img/carimg.jpg"/>
                    <div class="search-cover-div"><img class="search-cover-img" src="img/searchicon.png"></div>
                </div>
                <div class="category-name">Search Everything</div>
            </div>
            <div class="search-all">
                <div class="search-img">
                    <img src="img/carimg.jpg"/>
                    <div class="search-cover-div"><img class="search-cover-img" src="img/locationicon.png"></div>
                </div>
                <div class="category-name">Popular Near Me</div>
            </div>
            <div class="search-all">
                <div class="search-img">
                    <img src="img/carimg.jpg"/>
                    <div class="search-cover-div"><img class="search-cover-img" src="img/groupicon.png"></div>
                </div>
                <div class="category-name">From People I Follow</div>
            </div>
            <div class="search-all">
                <div class="search-img">
                    <img src="img/carimg.jpg"/>
                </div>
                <div class="category-name">Baby & Kids</div>
            </div>
            <div class="search-all">
                <div class="search-img">
                    <img src="img/carimg.jpg"/>
                </div>
                <div class="category-name">Furniture</div>
            </div>
            <div class="search-all">
                <div class="search-img">
                    <img src="img/carimg.jpg"/>
                </div>
                <div class="category-name">Clothing & Shoes</div>
            </div>
            <div class="search-all">
                <div class="search-img">
                    <img src="img/carimg.jpg"/>
                </div>
                <div class="category-name">Cosmetics</div>
            </div>
            <div class="search-all">
                <div class="search-img">
                    <img src="img/carimg.jpg"/>
                </div>
                <div class="category-name">Home Appliances</div>
            </div>
            <div class="search-all">
                <div class="search-img">
                    <img src="img/carimg.jpg"/>
                </div>
                <div class="category-name">Watches</div>
            </div>
            <div class="search-all">
                <div class="search-img">
                    <img src="img/carimg.jpg"/>
                </div>
                <div class="category-name">Toys</div>
            </div>
       </div>
   </ion-content>
</ion-view>
