<ion-view view-title="">
  <div class="bar bar-header cust-header">
      <div class="row header-row">
          <div class="col col-10" ng-click="back()">
              <img class="header-back-btn" src="img/back.png">
          </div>
          <div class="col col-33">
             <img class="header-arab-text" src="img/arab-white.png">
          </div>
      </div>
  </div>
  <ion-content class="post-ion-content">
  	<div class="list">
    <a class="item item-avatar chat-section chat-section-left">
      <img src="img/vector11.jpg">
      <div class="chat-cont chat-left-cont"><p>Back off, man. I'm a scientist.</p>
      <p><bold><i class = "icon icon ion-ios-clock-outline"></i>8:48</bold>Los Vegas <span class="check-seen"></span></p></div>
    </a>
    <a class="item item-avatar chat-section chat-section-right">
      <img class="right-img" src="img/vector11.jpg">
      <div class="chat-cont chat-right-cont"><p>Back off, man. I'm a scientist.</p>
      <p><bold><i class = "icon icon ion-ios-clock-outline"></i>8:48</bold>Los Vegas <span class="check-seen"></span></p><img class="rightcorner-img" src="img/rightcorner.png"></div>
    </a>
    <a class="item item-avatar chat-section chat-section-left">
      <img src="img/vector11.jpg">
      <div class="chat-cont chat-left-cont"><p>Back off, man. I'm a scientist.</p>
      <p><bold><i class = "icon icon ion-ios-clock-outline"></i>8:48</bold>Los Vegas <span class="check-seen"></span></p></div>
    </a>
    <a class="item item-avatar chat-section chat-section-right">
      <img class="right-img" src="img/vector11.jpg">
      <div class="chat-cont chat-right-cont"><p>Back off, man. I'm a scientist.</p>
      <p><bold><i class = "icon icon ion-ios-clock-outline"></i>8:48</bold>Los Vegas <span class="check-seen"></span></p><img class="rightcorner-img" src="img/rightcorner.png"></div>
    </a>
	</div>
  </ion-content>
  <ion-footer-bar class="cst-footer chat-footer">
	<div class="full-footer">
	<div class="first-row-msg-tab">
		<div class="selct-sent-photo row">
			<div class="select-cam col col-33"> 
				<div class="fr-sent-padding">
		    		Camera
		    	</div>
			</div>
			<div class="select-images col col-33">
			    <div class="fr-sent-padding">
		    		Photos
		    	</div>
			</div>
			<div class="select-location col col-33">
			    <div class="fr-sent-padding">
		    		Location
		    	</div>
			</div>
		</div>
	</div>
	<div class="sec-row-msg-tab">
		<div class="msg-tab row">
			<div class="ent-txt-field col col-80"><input class="prvt-msg" type="text" placeholder="Private message">
			</div>
			<div class="sent-btn col col-20">Send
			</div>
		</div>
	</div>
	</div>
  </ion-footer-bar>
</ion-view>
