<ion-view view-title="">
<ion-content class="post-ion-content">
<div class="offer-banner-img">
	<img src="img/carimg.jpg"/>
	<div class="price-tag">
		<img src="img/price-tag.png"><span class="price-range">Asking<bold>$3000</bold></span>
	</div>
  <div class="photo-cnt">1/10</div>
</div>
<div class="offer-head">
	3000 para hoy mismo<span class="share-btn"><img src="img/shrimg.png"/></span>
</div>
<div class="post-dt">
	<h4 class="post-catg">Cars & Trucks</h4>
	<p class="post-time"><span class=""><i class = "icon icon ion-ios-calendar-outline"></i></span>Posted 3 minutes ago</p>
</div>
<div class="list">
    <a class="item item-thumbnail-left mk-offer-lst" href="#">
      <img src="img/carimg.jpg">
      <h2>Paola</h2>
      <p>Nine Inch Nails</p>
    </a>
</div>
</ion-content>
<ion-footer-bar class="cst-footer">
<div class="purchase-prgrss row">
	<div class="phot-process col col-50"> 
		<div class="padding">
    		<button class="button button-block ask-btn button-positive" ui-sref="app.chat"><img src="img/ask.png">ASK
    	</div>
	</div>
	<div class="phot-detail col col-50">
	    <div class="padding">
    		<button class="button button-block mk-ofr-btn button-positive" ui-sref="app.offerinner">MAKE OFFER
    	</div>
	</div>
</div>
</ion-footer-bar>
</ion-view>