<ion-view view-title="">
<div class="search-form search-from-boder slide-search5" style="display: none">
    <div class="list list-inset search-from-boder">
        <label class="item item-input search-from-boder">
            <i class="icon ion-search placeholder-icon"></i>
            <input type="text" placeholder="Search">
        </label>
    </div>

    <div class="list list-inset search-from-boder">
        <label class="item item-input search-from-boder">
            <i class="icon ion-ios-location placeholder-icon"></i>
            <input type="text" placeholder="Place" style="border-right: 1px solid gainsboro;">
                    <span class="search-from4"><select >
                        <option>30 Miles</option>
                        <option selected>20 Miles</option>
                        <option>10 Miles</option>
                    </select></span>
        </label>

    </div>
    <div class="search-from6">
    </div>
    <div class="search-from1 search-from-boder">
        <label class="search-lable ">Price Range</label>
        <select class="search-from-boder">
            <option>Newest</option>
            <option selected>Oldest</option>
        </select>
    </div>
    <div class="search-from1 search-from-boder">
        <label class="search-lable " >Sort by</label>
        <div class="row search-from2" style="padding: 0px;">
            <div class="col" style="padding: 0px;">
                <input type="text" placeholder="Min">
            </div>
            <div class="col" style="padding: 0px;">
                <input type="text" placeholder="Max">
            </div>
        </div>
    </div>

    <div class="padding search-button">
        <button class="button button-block search-1-button button-positive" ui-sref="details">Search</button>
    </div>
</div>
<div class="search-backdrop" style="display: none"></div>
<ion-content class="post-ion-content">

<div class="video-album-tag">
<div class="video-select">
  <div class="video-album"><img src="img/lampoimg.jpg"/>
    <div class="play-div"><img class="plsy-cover-img" src="img/play.png"/></div>
  </div>
  <div class="video-album"><img src="img/lampoimg.jpg"/>
    <div class="play-div"><img class="plsy-cover-img" src="img/play.png"/></div>
  </div>
  <div class="video-album"><img src="img/lampoimg.jpg"/>
    <div class="play-div"><img class="plsy-cover-img" src="img/play.png"/></div>
  </div>
  <div class="video-album"><img src="img/lampoimg.jpg"/>
    <div class="play-div"><img class="plsy-cover-img" src="img/play.png"/></div>
  </div>
  <div class="video-album"><img src="img/lampoimg.jpg"/>
    <div class="play-div"><img class="plsy-cover-img" src="img/play.png"/></div>
  </div>
  <div class="video-album"><img src="img/lampoimg.jpg"/>
    <div class="play-div"><img class="plsy-cover-img" src="img/play.png"/></div>
  </div>
  <div class="video-album"><img src="img/lampoimg.jpg"/>
    <div class="play-div"><img class="plsy-cover-img" src="img/play.png"/></div>
  </div>
  <div class="video-album"><img src="img/lampoimg.jpg"/>
    <div class="play-div"><img class="plsy-cover-img" src="img/play.png"/></div>
  </div>
</div>
</div>
<div class="offer-banner-img">
	<img src="img/carimg.jpg"/>
  <div class="post-fav"><i class = "icon icon ion-android-favorite"></i></div>
<!--   <div class="Asking-price"><span class="photo-counter">1/10</span>Asking<bold>$3000</bold></div>
 -->  <div class="price-tag">
    <img src="img/price-tag.png"><span class="price-range">Asking<bold>$3000</bold></span>
  </div>
  <div class="photo-cnt">1/10</div>
</div>
    <div class="padding" style="display: -webkit-box;">
        <button class="button button-block face-butt button-positive" ><img src="img/like1.png">Like</button>
        <button class="button button-block face-butt mail-butt button-positive" ><img src="img/mail.png">Emale</button>
    </div>
<div class="offer-head">
	3000 para hoy mismo<span class="share-btn"><img src="img/shrimg.png"/></span>
</div>
<div class="post-dt">
	Cars & Trucks
	<p class="post-time"><span class=""><i class = "icon icon ion-ios-calendar-outline"></i></span>Posted 3 minutes ago</p>
</div>
    <!--<div class="list">-->
        <!--<a class="item item-thumbnail-left mk-offer-lst" href="#">-->
            <!--<img src="img/carimg.jpg">-->
            <!--<h2>Paola</h2>-->
            <!--<p>Nine Inch Nails</p>-->
        <!--</a>-->
    <!--</div>-->
    <div class="list" ui-sref="userdetails">
        <a class="item item-thumbnail-left mk-offer-lst" >
          <img src="img/user.png">
          <p style="font-size: 18px;">Noemi Meredith</p>
            <span><img src="img/star-orange.png"><img src="img/star-orange.png"> <img src="img/star-orange.png"> <img src="img/star-orange.png"> <img src="img/star-orange.png">  </span>(5)
            <i class="ion-chevron-right mkoffervideo-10"></i>
        </a>
    </div>
    <div class="list mkoffervideo-boder">
        <h4>Discription</h4>
        <p>**doesn't play the music any more**</p>
    </div>
    <div class="list mkoffervideo-boder">
        <h4>Condition</h4>
        <p>Used(normal ware)</p>
    </div>
    <h4 style="padding-left: 15px">Houston,TX</h4>
        <div class="offerinner-one">
            <img class="offerinner-one-map" src="img/map2.jpg">
        </div>
        <div class="row offerinner-two">
            <div class="col">
                <p class="offerinner-two-p">Map is approximate to protect the sellers location</p>
            </div>
        </div>
        <div class="row offerinner-three" ng-if="ownershow==1">
            <div class="col offerinner-three-col" >
                <img class="offerinner-three-icons" src="img/heart.png">
            </div>
            <div class="col">
                <p class="offerinner-three-icon-text">Save to wishlist</p>
            </div>
        </div>
        <div class="row offerinner-three" ng-if="ownershow==1">
            <div class="col offerinner-three-col">
                <img class="offerinner-three-icons" src="img/msg.png">
            </div>
            <div class="col" ui-sref="chat">
                <p class="offerinner-three-icon-text">Message Seller</p>
            </div>
        </div>
        <div class="row offerinner-three">
            <div class="col offerinner-three-col">
                <img class="offerinner-three-icons" src="img/shrimg.png">
            </div>
            <div class="col">
                <p class="offerinner-three-icon-text">Share this item</p>
            </div>
        </div>
        <div class="row offerinner-three" ng-if="ownershow==1">
            <div class="col offerinner-three-col">
                <img class="offerinner-three-icons" src="img/report.png">
            </div>
            <div class="col" ui-sref="report" >
                <p class="offerinner-three-icon-text">Report item</p>
            </div>
        </div>

<div class="mkoffervideo-1"><p>My other offers</p></div>
    <div class="mkoffervideo-2">
         <div class="mkoffervideo-3">
             <div class="mkoffervideo-8">
             <div class="mkoffervideo-4">
                 <img src="img/vintage.jpg">
             </div>
             <p class="mkoffervideo-5"> vintage jewelry Trinket box castket Faux brass 1980s</p>
             <p class="mkoffervideo-6">$ 5</p>
             <p class="mkoffervideo-7">Houston, TK</p>
             </div>
         </div>
        <div class="mkoffervideo-3">
            <div class="mkoffervideo-8">
            <div class="mkoffervideo-4">
                <img src="img/christmas.jpg">
            </div>
            <p class="mkoffervideo-5"> Christmas glass</p>
            <p class="mkoffervideo-6">$ 2</p>
            <p class="mkoffervideo-7">Houston, TK</p>
        </div>
        </div>
        <div class="mkoffervideo-3" style=" height: 150px !important;">
        </div>



</div>
</ion-content>
<ion-footer-bar class="cst-footer" ng-if="ownershow==1">
<div class="purchase-prgrss row">
	<div class="phot-process col col-50"> 
		<div class="padding">
    		<button class="button button-block ask-btn button-positive" ui-sref="chat"><img src="img/ask.png">ASK</button>
    	</div>
	</div>
	<div class="phot-detail col col-50">
	    <div class="padding">
    		<button class="button button-block mk-ofr-btn button-positive" ui-sref="offerinner">MAKE OFFER</button>
    	</div>
	</div>
</div>
</ion-footer-bar>
</ion-view>
        <style>


        </style>