<ion-view view-title="Offer">
  <div class="bar bar-header cust-header">
      <div class="row header-row">
          <div class="col col-10" ng-click="back()">
              <img class="header-back-btn" src="img/back.png">
          </div>
          <div class="col col-33">
             <img class="header-arab-text" src="img/arab-white.png">
          </div>
      </div>
  </div>
  <ion-content class="bg-content content">
      <div class="list offerinner-1">
      <a class="item item-thumbnail-left inneroffer-2 " >
          <img src="img/carimg.jpg">
          <h2>Paola</h2>
          <p>Nine Inch Nails</p>
          <p style="font-weight: 600;"> $ 5</p>
      </a>
      </div>
      <div class="inneroffer-3">Ready to buy? Make an Offers </div>
      <div class="mkoffervideo-1 inneroffer-4"><input type="text"></div>
      <div class="padding search-button">
          <button class="button button-block search-1-button button-positive" ui-sref="details">Offer</button>
      </div>
      <!--<div style="text-align: center"><p>Not sure? <span>Ask</span> for more info.</p></div>-->
  </ion-content>
</ion-view>


<style>
.offerinner-1
{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.inneroffer-3{
    width: 90%;
    margin: auto;
    text-align: center;
    font-size: 16px;
    margin-top: 35px;
    font-weight: 600;
}
.inneroffer-2
{
    border: 2px solid #ccc;
    background-color: #EEEEEE;
    padding-left: 90px !important;
}
    .inneroffer-2 img
    {
        left: 0px !important;
    }

.inneroffer-4 input[type="text"]
{
    width: 100%;
    border-radius: 10px;
}
</style>