<ion-view view-title="">
  <div class="bar bar-header cust-header">
      <div class="row header-row">
          <div class="col col-10" ng-click="back()">
              <img class="header-back-btn" src="img/back.png">
          </div>
          <div class="col col-33">
             <img class="header-arab-text" src="img/arab-white.png">
          </div>
      </div>
  </div>
<ion-content class="post-ion-content">
<h3 class="post-head">Post an Offer</h3>
<div class="selected-photo">
	<img class="selected-img" src="img/lampoimg.jpg"><span class="post-cancel">X</span>
</div>
<div class="post-photos">Add up to 10 more photos(optional)</div>
<div class="photo-post-selection">
	<div class="slct-photo"><img src="img/lampoimg.jpg"/>
	</div>
	<div class="slct-photo"><img src="img/lampoimg.jpg"/>
	</div>
	<div class="slct-photo"><img src="img/lampoimg.jpg"/>
	</div>
	<div class="slct-photo"><img class="addphotoimg" src="img/plus-icon.png"/>
	</div>
</div>
<div class="list post-list">
  <label class="item item-input post-label">
    <input type="text" placeholder="Title">
  </label>  
 <div class="padding post-button">
    <button class="button button-block post-button button-positive"  >Post Item</button></div>
</div>  
</div>
</ion-content>
<style>

</style>
<ion-footer-bar class="cst-footer">
<div class="purchase-prgrss row">
	<div class="phot-process col col-25"><span class="">1</span>Photo
	</div>
	<div class="phot-detail col col-25"><span class="">2</span>Details
	</div>
	<div class="phot-price col col-25"><span class="">3</span>Price
	</div>
	<div class="phot-finish col col-25"><span class="">4</span>Finish
	</div>
</div>
</ion-footer-bar>
</ion-view>