<ion-tabs class="tabs-striped tabs-color-active-positive">

    <ion-tab title="Photo" icon-on="photo" icon-off="photo" href="#/app/post/photo">
        <ion-nav-view  name="tab-photo"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Details" icon-on="details" icon-off="details" href="#/app/post/details">
        <ion-nav-view  name="tab-details"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Price" icon-on="price" icon-off="price" href="#/app/post/price">
        <ion-nav-view  name="tab-price"></ion-nav-view>
    </ion-tab>

    <ion-tab title="Finish" icon-on="finish" icon-off="finish" href="#/app/post/finish">
        <ion-nav-view  name="tab-finish"></ion-nav-view>
    </ion-tab>
</ion-tabs>