<ion-view view-title="Report">
  <div class="bar bar-header cust-header">
      <div class="row header-row">
          <div class="col col-10" ng-click="back()">
              <img class="header-back-btn" src="img/back.png">
          </div>
          <div class="col col-33">
             <img class="header-arab-text" src="img/arab-white.png">
          </div>
      </div>
  </div>
  <ion-content class="bg-content content">
      <div class="list offerinner-1">
          <a class="item item-thumbnail-left report-1 " >
              <img src="img/carimg.jpg">
               <p>Vintage wood jewelry box</p>
              <p>Sold by : Noemi meridith</p>

          </a>
      </div>
      <div class="report-4"><p>Why do u want to report this item</p></div>
      <div class="list list-inset report-3">
          <div class="item report-2">
             Ads or Services
              <i class="ion-chevron-right report-5"></i>
          </div>
          <div class="item report-2">
              Counterfeit
          </div>
          <div class="item report-2">
              Image or Posting Issues
              <i class="ion-chevron-right report-5"></i>
          </div>
          <div class="item report-2">
              Offensive Items
              <i class="ion-chevron-right report-5"></i>
          </div>
          <div class="item report-2">
              Prohibited Items
              <i class="ion-chevron-right report-5"></i>
          </div>
          <div class="item report-2">
              Others
          </div>
      </div>
  </ion-content>
</ion-view>


<style>
.offerinner-1
{
    width: 90%;
    margin: auto;
    margin-top: 20px;
}
.report-1{
    border: none !important;
    padding-left: 95px !important;
    background: transparent !important;
}
    .report-2
    {
        background-color: #F9F9F9;
    }
    .report-3{
        background-color: #e3e3e3;
        border-radius: 13px;
        margin-top: 0px;
    }
    .report-1 img
    {
        left: 0px !important;
    }
    .report-4
    {
        width: 90%;
        margin: auto;
    }
    .report-5
    {
        position: absolute;
        right: 20px;
    }

</style>